.team {
    display: inline-flex;
    flex-direction: column;

    

    height: 200px;
    width: 200px;

    padding: 10px;

    border-radius: 8px;
    box-shadow: 0px 0px 4px 8px hsla(200, 48%, 60%, 0.3);


}
.team h3 {

}
.team ul {
    padding-inline-start: 0;

}

ul li {
    padding-inline-start: 0;
    list-style: none;
}
